<div id="player"></div>

<script>
  var tag = document.createElement('script');
  
  <% if cookies[:autoplay]=="yes" %>
    var play = true;
  <% end %>

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: '<%= clip_to_display %>',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  function onPlayerStateChange(event) {
    if(event.data === 0) {      
      <% unless album_to_display.nil? %>
        if (play) {
            <% play_next %>
            <% if item_to_play==playlist.length %>
              <% playlist_start %>
            <% end %>
            document.getElementById("clip-<%= playlist[item_to_play] %>").click();
        }
      <% end %>
    }
  }
</script>

<% unless album_to_display.nil? %>
  <span class="autoplay_buttons">
    <%= render "shared/autoplay_buttons" %>
  </span>
    <script>
      function autoplay_play() {
        play = true;
      }
      
      function autoplay_stop() {
        play = false;
      }
    </script>
<% end %>

<% unless desc_to_display.blank? %>
    <p><%= link_to "Description", "#", id: "desc-link" %></p>
    <span id="clip-desc">
        <%= desc_to_display %>
    </span>
<% end %>

<% unless @tags.nil? %>
    <p><%= link_to "Tags", "#", id: "tags-link" %></p>
    <span id="clip-tags">
        <% if @tags.empty? %>
          This album has currently no tags. It's a sad album :(
        <% end %>
        <%= render @tags %>
    </span>
<% end %>