<li id="<%= clip.id %>" class="listed_clip">
    <% video = VideoInfo.new("http://www.youtube.com/watch?v="+clip.adress)%>
    <%= link_to clip, id: "clip-"+clip.id.to_s do %>
        <img src="http://img.youtube.com/vi/<%= clip.adress %>/mqdefault.jpg" height="90" width="160" class="clip_image"> 
    <% end %>
    <% if album_to_display.nil? %>
        <span class="user"><%= link_to clip.owner.name, clip.owner %></span>
    <% end %>
    <span class="title"><%= video.title.to_s %></span>
    <span class="options">
        <% if owner==current_user %>
            <%= link_to "delete", clip, method: :delete, data: { confirm: "Delete this clip?" }, class: "clip_delete" %>
            <%= link_to "edit", edit_clip_path(clip), class: "clip_edit" %>
        <% end %>
    </span>
</li>
