<% provide(:title, 'Edit a clip') %>

<h1>Edit your clip</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@clip) do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            
            <%= f.label :description, "Description (optional)" %>
            <%= f.text_field :description %>
            
            <%= f.submit "Edit the clip!", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>