<% provide(:title, 'Add a clip') %>

<h1>Add a new clip</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@clip) do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            
            <%= f.label :adress, "The webadress of the clip" %>
            <%= f.text_field :adress, class: "form-control" %>
            
            <%= f.label :description, "Description (optional)" %>
            <%= f.text_field :description %>
            
            <%= f.submit "Add the clip!", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>