<li>
    <%= gravatar_for user, size: 50 %>
    <% if logged_in? %>
    <%= link_to user.name, user %> | 
    <% end %>
    <%= link_to user.name+"'s clips", clips_user_path(user) %>
    <% if logged_in? && current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
</li>