<% provide(:title, @user.name+"'s clips") %>
<div class="row">
    <aside class="col-md-8">
        <section class="user_info">
            <h1>
                <%= render "shared/user_info" %>
            </h1>
        </section>
        <% if clip_to_display.nil? %>
            <%= render "shared/default_clip" %>
        <% else %>
            <%= render "shared/active_video" %>
        <% end %>
    </aside>
    <div class="col-md-4">
        <li><%= link_to "Add a clip", new_clip_path %></li>
        <% if @user.clips.any? %>
            <ol class="clips">
                <% @clips.each do |clip| %>
                    <%= render clip, owner: clip.owner %>
                <% end %>
                <!--render @clips, owner: clip.owner will not work here -->
            </ol>
            <%= will_paginate @clips %>
        <% end %>
    </div>
</div>