<% provide(:title, @user.name+"'s albums") %>
<div class="row">
    <aside class="col-md-8">
            <% unless album_to_display.nil? %>
                <section>
                    <h1 class="album_title"><%= Album.find(album_to_display).title %></h1>
                    <div class="col-md-1">
                        <%= render "shared/like_dislike" %>
                    </div>
                    <div class="col-md-11">
                        <%= render partial: "shared/likes", locals: {list: false} %>
                    </div>
                </section>
            <% end %>
        <section class="video_display">
            <% if album_to_display.nil? %>
                <%= render "shared/default_clip" %>
            <% else %>
                <%= render "shared/active_video" %>
                <%= render "shared/user_info" %>
                <%= render "shared/add_tag" %>
            <% end %>
        </section>
    </aside>
    <% if @user.albums.any? %>
        <div class="col-md-4">
            <%= link_to "Create an Album", new_album_path %>
            <ol class="albums">
                <%= render @albums %>
            </ol>
            <%= will_paginate @albums %>
        </div>
    <% end %>
</div>