<section class="clip">
    <%= render "clips/clip_display" %>
</section>
<% if current_page?(albums_user_path) %>
    <nav class="navbar navbar-inverse navbar-fixed-bottom scroll" id="album_navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul><%= link_to "Add a clip", new_clip_path %></ul>
            </div>
                <ul class="nav navbar-nav" id="album_content">
                    <!-- render @clips, owner: clip.owner.user will not work here -->
                    <% @clips.each do |clip| %>
                        <%= render clip, owner: clip.owner.user %>
                    <% end %>
                </ul>
        </div>
    </nav>
<% end %>