<p><%= link_to "Add a tag", "#", id: "add-tag-link" %></p>
<span id="tag-form">
    <div class="tag_adding">
        <%= form_for(Album.find(album_to_display).taggers.build) do |f| %>
        
            <%= label_tag :tag_id, "tag name" %>
            <%= text_field_tag :tag_id, "your tag", id:"field_tag", class: "form-control" %>
            
            <%= f.submit "Add tag", class:"btn btn-primary" %>
        <% end %>
    </div>
</span>