<% if cookies[:autoplay]=="yes" %>
    <div class="btn-group">
        <a type="button" class="btn btn-info", href='/users/<%= Album.find(album_to_display).user.id %>/albums', data-remote="true" id='autoplay-link', onclick="autoplay_stop()">Play</a>
        <a type="button" class="btn btn-default", href='/users/<%= Album.find(album_to_display).user.id %>/albums', data-remote="true" id='autoplay-link', onclick="autoplay_stop()">Stop</a>
    </div>
<% else %>
    <div class="btn-group">
        <a type="button" class="btn btn-default", href='/users/<%= Album.find(album_to_display).user.id %>/albums', data-remote="true" id='autoplay-link', onclick="autoplay_play()">Play</a>
        <a type="button" class="btn btn-info", href='/users/<%= Album.find(album_to_display).user.id %>/albums', data-remote="true" id='autoplay-link', onclick="autoplay_play()">Stop</a>
    </div>
<% end %>