<span class="relation_buttons">
    <% if relation=current_user.affections.find_by(album_id: album_to_display) and relation.value==1 %>
        <div class="btn-group">
                <%= form_for(current_user.affections.find_by(album_id: album_to_display),
                    html: {method: :delete}, remote: true) do |f| %>
                    <%= f.submit "Like", class:"btn-success", id:"dislike_button" %>
                <% end %>
                <%= form_for(current_user.affections.find_by(album_id: album_to_display),
                    html: {method: :patch}, remote: true) do |f| %>
                    <div><%= hidden_field_tag :value, -1 %></div>
                    <%= f.submit "Dislike", class:"btn-default", id:"dislike_button" %>
                <% end %>
        </div>
    <% elsif relation=current_user.affections.find_by(album_id: album_to_display) and relation.value==-1 %>
        <div class="btn-group">
                <%= form_for(current_user.affections.find_by(album_id: album_to_display),
                    html: {method: :patch}, remote: true) do |f| %>
                    <div><%= hidden_field_tag :value, 1 %></div>
                    <%= f.submit "Like", class:"btn-default", id:"dislike_button" %>
                <% end %>
                <%= form_for(current_user.affections.find_by(album_id: album_to_display),
                    html: {method: :delete}, remote: true) do |f| %>
                    <%= f.submit "Dislike", class:"btn-danger", id:"dislike_button" %>
                <% end %>
        </div>
    <% else %>
            <div class="btn-group">
                <%= form_for(current_user.affections.build, remote: true) do |f| %>
                    <div><%= hidden_field_tag :album_id, album_to_display %></div>
                    <div><%= hidden_field_tag :value, 1 %></div>
                    <%= f.submit "Like", class:"btn-default", id:"dislike_button" %>
                <% end %>
                <%= form_for(current_user.affections.build, remote: true) do |f| %>
                    <div><%= hidden_field_tag :album_id, album_to_display %></div>
                    <div><%= hidden_field_tag :value, -1 %></div>
                    <%= f.submit "Dislike", class:"btn-default", id:"dislike_button" %>
                <% end %>
            </div>
    <% end %>
</span>