<% unless list %>
    <div class="clip_likes">
        <%= pluralize(Album.find(album_to_display).affections.where(value: 1).count, "like") %> | 
        <%= pluralize(Album.find(album_to_display).affections.where(value: -1).count, "dislike") %>
    </div>
<% else %>
    <div class="album_likes">
        <ul>
            <li><%= pluralize(Album.find(album_to_display).affections.where(value: 1).count, "like") %></li>
            <li><%= pluralize(Album.find(album_to_display).affections.where(value: -1).count, "dislike") %></li>
        </ul>
    </div>
<% end %>