<%= form_for(@micropost) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="field">
        <%= f.text_area :content, placeholder: "Compose a new post" %>
    </div>
    <% if post_to_edit.nil? %>
        <%= f.submit "Post", class: "btn btn-primary" %>
    <% else %>
        <%= f.submit "Edit", class: "btn btn-primary" %>
    <% end %>
<% end %>