<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<% if current_page?(root_path) %>
    <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
<% elsif current_page?(clips_user_path) %>
    <span><%= pluralize(current_user.clips.count, "clip") %></span>
<% elsif current_page?(albums_user_path) %>
    <span><%= pluralize(current_user.albums.count, "album") %></span>
<% else %>
    <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
<% end %>