<% unless album_to_display.to_i==album.id %>
    <li id="album-<%= album.id %>" class="listed_album">
        <div class="row">
            <aside class="col-md-6">
                <% if album.clips.any? %>
                    <%= link_to album do %>
                        <img src="http://img.youtube.com/vi/<%= album.clips.first.adress %>/mqdefault.jpg" height="110" width="178" id="album_cover"> 
                    <% end %>
                <% else %>
                    <%= link_to album do %>
                        <img src="http://img.youtube.com/vi/ksjfhskd4/0.jpg" height="110" width="178" id="album_cover"> 
                    <% end %>
                <% end %>
                <span class="album_options">
                    <% if current_user==album.user %>
                        <%= link_to "delete", album, method: :delete, data: { confirm: "Delete this album?" } %>
                        <%= link_to "edit", edit_album_path(album) %>
                    <% end %>
                </span>
            </aside>
            <div class="col-md-6" id="album_info">
                <p><span class="title"><%= album.title %></span></p>
                <%= render partial: "shared/likes", locals: {album_to_display: album.id, list: true} %>
            </div>
        </div>
    </li>
<% end %>