<% provide(:title, 'Create an album') %>

<h1>Create a new album</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@album) do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            
            <%= f.label :title, "Title" %>
            <%= f.text_field :title, class: "form-control" %>
            
            <%= f.label :description, "Description (optional)" %>
            <%= f.text_field :description, class: "form-control" %>
            
            <%= f.submit "Add the album!", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>