<li id="tag-<%= tag.id %>">
    <span class="name"><%= tag.name %></span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(tag.created_at) %> ago.
        <% if current_page?(tags_path) %>
            <% if !current_user.nil? and current_user.admin? %>
                <%= link_to "Delete", tag, method: :delete, data: { confirm: "Are you sure?" } %>
                <%= link_to "Edit", edit_tag_path(tag) %>
            <% end %>
        <% end %>
        <% if !current_user.nil? and current_page?(albums_user_path(current_user)) %>
            <%= form_for(tag.taggers.find_by(album_id: album_to_display), html: {method: :delete}) do |f| %>
                <%= f.submit "remove", class:"btn-danger" %>
            <% end %>
        <% end %>
    </span>
</li>