<% provide(:title, 'edit a tag') %>

<h1>Add a new tag</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@tag) do |f| %>
            <%= render "shared/error_messages", object: f.object %>
            
            <%= f.label :name, "tag name" %>
            <%= f.text_field :name, class: "form-control" %>
            
            <%= f.submit "edit tag", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>