<% provide(:title, 'Album Search') %>

<%= form_for @search do |f| %>
    
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    
    <div class="field">
        <%= f.label :tag %>
        <%= f.text_field :tag %>
    </div>
    
    <div class="field">
        <%= f.label :min_likes %>
        <%= f.text_field :min_likes %>
    </div>
    
    <div class="action">
        <%= f.submit "Search", class: "btn btn-primary" %>
    </div>

<% end %>