<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user==micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to "Edit", edit_micropost_path(micropost) %>
        <% end %>
    </span>
</li>