@import "bootstrap-sprockets";
@import "bootstrap";

/*album bottom navbar*/

#album_navbar {
    max-height: 200px;
    overflow-y: auto;
    li.listed_clip {
        &:hover {
            background-color: black;
            border-radius: 5px;
        }
        img.clip_image {
            margin-left: 5px;
            border-radius: 5px;
        }
        span.title {
            text-align: center;
            color: green;
            max-width: 200px;
            height: 50px;
        }
        span.options {
            .clip_edit {
                float: right;
                margin-right: 5px;
                margin-bottom: 3px;
            }
            .clip_delete {
                float: left;
                margin-left: 5px;
                margin-bottom: 3px;
            }
        }
    }
}

/* list of albums */

ol.albums {
    list-style-type: none;
    padding-left: 0;
}

li.listed_album {
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 3px;
    div.row {
        position: relative;
        #album_cover {
            border-radius: 5px;
        }
        #album_info {
            height: 110px;
            padding-left: 28px;
            span.title {
                text-align: center;
                line-height: 130%;
                display: block;
            }
            div.album_likes {
                position: absolute;
                bottom: 3px;
                display: block;
                color: blue;
                ul {
                    padding-left: 0;
                }
            }
        }
    }
}

/* top layer */

h1.album_title {
    font-size: 250%;
    padding-bottom: 10px;
}

div.col-md-1 {
    padding-left: 0;
}

div.col-md-11 {
    padding-left: 0;
    padding-top: 6px;
    text-align: left;
}

#dislike_button {
 margin: 0;
 float: left;
}