<footer class="footer">
    <small>
        The <a href="#">bejingo</a>
        by <a href="#">Robert</a>.
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a herf="http://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>